* {
  margin: 0rem;
  padding: 0rem;

  // @media all and (min-width: 768px) {
  //   margin: 10px;
  //   padding: 0px;
  // }
}
body {
  background-image: url(/src/images/plantas2.avif);
  background-size: auto;
  background-blend-mode: overlay; 
  background-color: rgba(255, 230, 200, 0.075); /* Ajusta la transparencia */
  

  .header {

    .myName {
      color: white;
      text-align: center;
      margin: 2rem;
      padding-block: 2rem;
      background-color: black;
    }
    .sectionsMenu {
      margin-top: 2rem;
      background-color: black;
      text-align: center;
      font-family: lemon;

      margin-inline: 2rem;
      padding: 1rem;
      width: fit-content;
      border-bottom: 1px solid red;
      .hithere {
        border-left: 2px solid white;
      }
      .linksClass {
        border-right: 2px solid white;
        text-align: center;

        .no-underline {
          color: white;
          text-decoration: none;
          padding-inline: 8px;
          &:hover {
            background-color: white;
            color: black;
          }
          @media all and (max-width: 768px) {
            display: flex;
          }
        }
      }
      @media all and (max-width: 768px) {
        font-size: 12px;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 8px;
      }
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: black;

    .landing {
      display: flex;
      flex-direction: column;
      align-items: center;
      // padding-top: 4rem;
      margin-top: 2rem;
      // background-image: url(/src/images/plantas2.avif);
      // background-size: auto;

      .profileSection {
        display: flex;
        align-items: flex-end;
        color: white;
        margin: 2rem;
        gap: 4rem;
        // font-family: bungee spice;
        font-family: lemon;

        @media all and (max-width: 768px) {
          font-size: 12px;
          flex-direction: column;
          text-align: center;
          align-items: center;
          // background-color: black;
        }
        .profileText {
          padding: 10px;
          background-color: rgba(100, 22, 86, 0.6);
          border-bottom: 2px solid rgb(45, 88, 78);
        }

        .imgProfile {
          width: 250px;
          @media all and (max-width: 768px) {
            width: 200px;
          }
        }
      }
      .landingSection {
        // border: 2px solid black;
        width: fit-content;
        margin: 2rem auto;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        width: 80%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        p {
          text-align: center;
        }
        .cv-landing {
          color: black;
          text-decoration: none;
          a {
            text-decoration: none;
            color: black;
            // font-size: small;
          }
          .arrow {
            padding-inline: 5px;
          }
        }

        @media all and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
    .aboutmeBox {
      margin-block: 4rem;

      .aboutme {
        // border: 2px solid black;
        margin: auto;
        // background-color: rgba(255, 255, 255, 0.7);
        background-color: rgb(15, 139, 122, 0.9);
        background-color: rgb(144, 183, 174);
        background-color: rgba(255, 255, 255, 0.8);

        width: 80%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @media all and (max-width: 768px) {
          font-size: 12px;
          padding: 10px;
        }
        .mycv {
          color: black;
          margin-inline: 2rem;
          @media all and (max-width: 768px) {
            text-align: center;
          }

          .cv {
            text-decoration: none;
            padding: 5px;
            color: black;
          }
        }
        .firstText {
          color: black;
          padding: 10px;
          margin-block: 2rem;
          margin-inline: 2rem;
          text-align: center;
          @media all and (max-width: 768px) {
            margin-block: 1rem;
            margin-inline: 1rem;
            padding: 0px;
          }
        }

        .thirdText {
          color: black;
          padding: 10px;
          margin-block: 2rem;
          margin-inline: 2rem;
          @media all and (max-width: 768px) {
            margin-inline: 0.6rem;
          }
          .iconsTech {
            display: flex;
            margin: 10px;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding-inline: 4rem;
            @media all and (max-width: 768px) {
              padding-inline: 0rem;
              margin: 0rem;
            }
          }
        }
      }
    }

    .projectsBox {
      margin-block: 2rem;

      .introSection {
        border: 2px solid black;
        width: fit-content;
        padding: 10px;
        margin: 20px auto;
        background-color: rgba(255, 255, 255, 0.5);
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        font-weight: bold;
        @media all and (max-width: 768px) {
          font-size: 12px;
        }
      }

      .projectsSection {
        // background-color: rgba(255, 255, 255, 0.3);
        width: 90vw;
        margin-block: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        padding-inline: 1rem;
        padding-block: 3rem;
        @media all and (max-width: 768px) {
          padding: 2rem;
          width: 70vw;
        }

        .oneProject {
          // background-color:rgb(45, 88, 78);
          background-color: rgb(124, 163, 154);
          background-color: rgb(144, 183, 174);
          background-color: white;
          background-color: rgba(255, 255, 255, 0.8);

          transition: transform 0.3s ease-in-out;
          width: 430px;
          display: flex;
          padding: 5px;

          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 1rem;

          // border: 5px solid white;
          @media all and (max-width: 768px) {
            // flex-direction: row;
           
          }
          @media all and (max-width: 480px) {
            font-size: 2rem;
          }
          &:hover {
            transform: scale(1.1);
          }
          .projectImg {
            img {
              // border: 2px solid black;
              @media all and (max-width: 768px) {
                width: 100%;
              }
            }
          }
          .projectText {
            // margin-inline: 10px;
            // padding-top: 10px;
            color: black;
            padding: 10px;
            .codeClass {
              margin-top: 5px;
            }
            .codeLink {
              background-color: black;
              color: white;
              text-decoration: none;
              padding: 2px;
              text-align: center;
              &:hover {
                background-color: rgba(213, 216, 223, 0.6);
                color: black;
              }
            }
            @media all and (max-width: 768px) {
              h4 {
                font-size: 1rem;
              }
              p {
                font-size: 0.8rem;
              }
            }
            @media all and (max-width: 480px) {
              h4 {
                font-size: 0.6rem;
              }
              p {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }

    .contactBox {
      margin-block-end: 30px;
      .contact {
        // border: 2px solid black;
        margin: 20px auto;
        padding: 10px;
        // background-color: rgba(255, 255, 255, 0.7);
        display: flex;

        @media all and (max-width: 768px) {
          font-size: 12px;
          width: 80%;
          flex-direction: column;
        }
        .contactLinks {
          font-family: lemon;
          // color: white;
          // background-color: white;
          display: flex;
          gap: 5px;
          flex-direction: column;
          margin: 3rem;
          gap: 20px;
          font-size: 14px;
          padding: 10px;
          justify-content: space-around;
          // border: 1px solid black;
          // background-color: black;

          @media all and (max-width: 768px) {
            margin: 1rem;
            gap: 5px;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
          }
          .contactDetails {
            color: black;
            padding: 5px;
            color: white;
            .cv {
              padding-inline-start: 10px;
            }

            a {
              text-decoration: none;
              color: black;
              color: white;
              // font-size: small;
            }
            .arrow {
              padding-inline: 5px;
            }
          }
        }

        .formSection {
          background-color: rgba(100, 22, 86, 0.6);
          // border-radius: 15px;
          font-size: 12px;
          // border: 1px solid black;
          border: 1px solid rgb(79, 63, 122);
          margin: auto;
          margin: 1rem;
          padding: 15px;

          @media all and (min-width: 768px) {
            font-size: 16px;
            width: 350px;
            margin-block: 3rem;
          }
          .form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .input {
              border-radius: 15px;
              padding: 5px;
              font-size: 10px;
              // background-color: rgba(255, 255, 255, 0.7);
              background-color: black;
              color: white;
              &:hover {
                // background-color: rgb(151, 151, 151);
                background-color: rgba(255, 255, 255, 0.5);
                &::placeholder {
                  // color: white;
                  color: black;
                }
              }
              @media all and (min-width: 768px) {
                font-size: 14px;
              }
            }
            // :focus{
            //   outline: 1px solid red;
            // }

            .textarea {
              border-radius: 15px;
              padding: 5px;
              font-size: 10px;
              // background-color: rgba(255, 255, 255, 0.7);
              background-color: black;
              border: 1px solid gray;
              color: white;
              &:hover {
                // background-color: rgb(151, 151, 151);
                background-color: rgba(255, 255, 255, 0.5);
                border: 1px solid black;
                &::placeholder {
                  // color: white;
                  color: black;
                }
              }
              @media all and (min-width: 768px) {
                font-size: 16px;
              }
            }
          }
          .btnSubmit {
            width: fit-content;
            background-color: black;
            color: white;
            text-align: center;
            cursor: pointer;
            border-radius: 15px;
            padding: 5px;
            font-size: 10px;
            font-family: lemon;

            &:hover {
              background-color: rgb(36, 35, 35);
            }
            @media all and (min-width: 768px) {
              font-size: 12px;
              padding-inline: 6px;
            }
          }
        }
      }
    }
  }

  .footer {
    background-color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

    .mybrand {
      color: white;
      text-align: end;
      margin-inline: 20px;
      display: flex;
      justify-content: space-between;

      .icons {
        display: flex;
        gap: 1rem;
        color: white;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
