* {
  margin: 0rem;
  padding: 0rem;

  // @media all and (min-width: 768px) {
  //   margin: 10px;
  //   padding: 0px;
  // }
}
body {
  background-image: url(/src/images/plantas2.avif);
  background-size: auto;
  .header {
    // .mybrand {
    //   background-color: rgba(255, 255, 255, 0.5);
    //   width: fit-content;
    //   padding: 3px;
    // }
    .myName {
      color: white;
      text-align: center;
      margin: 2rem;
      padding-block: 2rem ;
      background-color: black;
      font-family: tektur;
      
    }
    .sectionsMenu {
      background-color: black;
      text-align: center;
      font-family: lemon;
      margin-inline: 2rem;
      padding: 1rem;
      width: fit-content;
      border-bottom: 1px solid red;
      .linksClass{
        border-left: 2px solid white;
        border-right: 2px solid white;
    
        .no-underline {
        color: white;
        text-decoration: none;       
        padding-inline: 8px;
        &:hover {     
          background-color: white;
          color: black;
        }
      }
      
      }
      @media all and (max-width: 768px) {
        font-size: 12px;       
      }
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: black;

    .landing {
      display: flex;
      flex-direction: column;
      align-items: center;
      // padding-top: 4rem;     
      margin-top: 4rem;
      // background-image: url(/src/images/plantas2.avif);
      // background-size: auto;
      .profileSection {
        display: flex;
        align-items: flex-end;
        color: white;
        margin: 2rem;
        gap: 4rem;
        // font-family: bungee spice;
        font-family: lemon;
        @media all and (max-width: 768px) {
          font-size: 12px;
          flex-direction: column;
          text-align: center;
          // background-color: black;
        }
        .profileText {
          padding: 10px;
          background-color: rgba(100, 22, 86, 0.6);
        }
      }
      .landingSection {
        border: 2px solid black;
        width: fit-content;
        margin: 2rem auto;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        width: 80%;
        font-family: tektur;

        @media all and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
    .aboutmeBox{
      margin-block: 4rem;
      
      .aboutme {
      border: 2px solid black;
      margin: auto;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      width: 80%;
      font-family: tektur;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @media all and (max-width: 768px) {
        font-size: 12px;
      }
      .mycv{
        color: black;       
        margin-inline: 2rem;
        .cv{
          text-decoration: none;
        }
      }
      .firstText{
        border: 1px solid black;
        background-color: rgb(15, 139, 122);
        // background-color: rgb(15, 139, 139);
        color: black;
        padding: 10px;
        margin-block: 2rem;
        margin-inline: 2rem;
        text-align: center;
      }
      // .secondText{
      //   border: 1px solid black;
      //   // background-color: rgb(25, 196, 196);
      //   background-color: rgb(15, 139, 122);
      //   color: black;
      //   padding: 10px;
      //   margin-block: 2rem;
      //   margin-inline: 2rem;        
      // }
      .thirdText{
        border: 1px solid black;
        // background-color: rgb(25, 196, 196);
        background-color: rgb(15, 139, 122);
        color: black;
        padding: 10px;
        margin-block: 2rem;
        margin-inline: 2rem;   
        .iconsTech{
          display: flex;
          margin: 10px;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          padding-inline: 4rem;
          @media all and (max-width: 768px) {
            padding-inline: 0rem;
            margin: 0rem;
            
          }
        }     
      }
    }
    }
    
.projectsBox{
  margin-block: 2rem;
  
  .introSection {
      border: 2px solid black;
      width: fit-content;
      padding: 10px;
      margin: 20px auto;
      background-color: rgba(255, 255, 255, 0.5);
      font-family: tektur;
      font-weight: bold;
      @media all and (max-width: 768px) {
        font-size: 12px;
      }
    }

    .projectsSection {
      background-color: rgba(255, 255, 255, 0.3);      
      width: 80vw;
      margin-block: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      padding-inline: 1rem;
      padding-block: 3rem;
      @media all and (max-width: 768px) {
        padding: 2rem;
        width: 70vw;
      }

      .oneProject {
        // width: 430px;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        padding: 15px;
        background-color: rgba(213, 216, 223, 0.6);
        font-family: tektur;
        @media all and (max-width: 768px) {
            flex-direction: row;            
        }
        &:hover {     
          background-color: rgba(100, 22, 86, 0.6);        
        }
        .projectImg {
          img {
            border: 2px solid black;
            @media all and (max-width: 768px) {
              width: 100px;
            }
          }
        }
        .projectText {
          margin-inline: 10px;
          .codeClass {
            margin-top: 5px;
          }
          .codeLink{
            background-color: black;
            color: white;
            text-decoration: none;
            padding: 2px;
            text-align: center;
            &:hover {     
              background-color: rgba(213, 216, 223, 0.6);
              color: black;       
            }
          }
          @media all and (max-width: 768px) {
            h4 {
              font-size: 12px;
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
}
    
    
   
    .contact {
      border: 2px solid black;
      margin: 20px auto;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      width: 80%;

      @media all and (max-width: 768px) {
        font-size: 12px;        
      }
      .contactLinks {
        font-family: lemon;
        color: white;
        background-color: white;
        display: flex;
        margin: 3rem;
        gap: 4rem;
        justify-content: space-around;
        border: 1px solid black;
        @media all and (max-width: 768px) {
          margin: 1rem;
          gap: 1rem;       
        }
        
        
        @media all and (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          padding: 2rem;
          
        }
        .contactDetails {
          color: black;
          padding: 5px;
          
          a {
            text-decoration: none;
            color: black;
            
           
          }
        }
      }
    }
  }

  .footer {
    background-color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

    .mybrand {
      color: white;
      text-align: end;     
      margin-inline: 20px;
      display: flex;
      justify-content: space-between;
      
      .icons{
        display: flex;
        gap: 1rem;
        color: white;
        a{
          text-decoration: none;
        }
        
      }
      
    }
  }
}
